server.js
README.md
PROJECT_DOCUMENTATION.md
node_modules
FULL_DOCUMENTATION.md
update-monitors.bat
update-monitors.sh
DEPLOYMENT_LINUX.md
DEPLOYMENT_GITHUB.md
not/
api_response_clean.json
api_response.json